.signup {
  background: url("/assets/images/waterfall.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .signup-card {
    max-width: 800px;
    border-radius: 12px !important;
    img {
      width: 200px;
    }
  }
}
